@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Skrapbook';
  src: url('/fonts/Skrapbook.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Skrapbook', sans-serif;
}

@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.animated-gradient-text {
  background-size: 200% 200%;
  animation: gradient-animation 8s ease infinite;
}

.hover-gradient {
  background-size: 200% 200%;
  background-image: linear-gradient(to right, #e1800a, #ffffff);
  transition: background 0.5s ease-in-out, background-position 0.5s ease-in-out;
}

.hover-gradient:hover {
  animation: gradient-animation 12s ease infinite;
}